<header>
    <nav class="bg-blue-500 shadow-md mb-3">
        <ul class="flex p-4">
            <li class="mr-4">
                <a class="text-white hover:text-gray-200" [routerLink]="['/']">Home</a>
            </li>

            <li class="mr-4">
                <a class="text-white hover:text-gray-200" [routerLink]="['/about']">About</a>
            </li>

            <li class="mr-4">
                <a class="text-white hover:text-gray-200" [routerLink]="['/item/8']">Item</a>
            </li>
        </ul>
    </nav>
</header>