<div class="grid grid-cols-1 md:grid-cols-2 md:gap-10 items-start">
  <!-- Row 1 -->
  <h2 class="mt-4 text-3xl font-bold text-gray-800 mb-4 md:mb-0">The Heroes</h2>

  <!-- Empty cell on first row (desktop only) -->
  <div class="hidden md:block"></div>

  <!-- Row 2 -->
  <ul class="space-y-3">
    <!-- 
      TODO: 
      - Loop through every hero and create the following <li> for each to display its info 
      - Each hero in the list should be clickable
    -->
    @for( hero of heroes; track hero.id){
      <li
        (click)="onSelect(hero)"
        class="flex items-center justify-between px-4 py-3 rounded-xl shadow-sm border border-gray-200 cursor-pointer hover:bg-gray-100 hover:shadow-md"
        [class.bg-blue-100]="hero === selectedHero"
        [class.border-blue-400]="hero === selectedHero"
      >
        <div class="flex items-center space-x-3">
          <span class="bg-blue-600 text-white text-sm font-semibold px-3 py-1 rounded-full">
            <!-- TODO: Display hero id -->
             {{hero.id}}
          </span>
          <span class="text-gray-700 font-medium">
            <!-- TODO: Display hero name -->
             {{hero.name}}
          </span>
        </div>
      </li>
    }
  </ul>

  <!-- 
    TODO:
      - Import the hero-details component, and pass in the hero that was
        selected by the user from the hero list
   -->
  <app-hero-details [hero] = "selectedHero"></app-hero-details>
  
</div>