<header>
  <nav class="bg-blue-500 shadow-md border-b">
    <div class="container mx-auto px-4">
      <div class="flex w-full">
        <ul class="flex font-semibold text-2xl p-4 w-1/2 flex-grow space-x-4">
          <li>
            <a class="text-white hover:text-gray-300" [routerLink]="['/']">Home</a>
          </li>
          <li>
            <a class="text-white hover:text-gray-200" [routerLink]="['/tap']">Tap</a>
          </li>
          <li>
            <a class="text-white hover:text-gray-200" [routerLink]="['/map']">Map</a>
          </li>
          <li>
            <a class="text-white hover:text-gray-200" [routerLink]="['/filter']">Filter</a>
          </li>
          <li>
            <a class="text-white hover:text-gray-200" [routerLink]="['/chaining-operators']"
              >Chaining Operators</a
            >
          </li>
        </ul>
        <!-- <ul class="flex p-4 w-1/2 flex-grow space-x-4">
          <li>
            <a
              class="text-white hover:text-gray-300"
              [routerLink]="['/switch-map']"
              >Switch Map</a
            >
          </li>
          <li>
            <a
              class="text-white hover:text-gray-200"
              [routerLink]="['/combine-operators']"
              >Combine Operators</a
            >
          </li>
        </ul> -->
      </div>
    </div>
  </nav>
</header>
