<header>
  <nav class="px-6 py-4 shadow-md bg-slate-900">
    <div class="container mx-auto flex justify-between items-center">
      <a class="flex items-center text-white mr-12" [routerLink]="['/']"> Home </a>

      @if (isLoggedIn()) {
        <div class="flex-1 flex justify-center items-center">
          <ul class="w-full flex text-white justify-evenly">
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link" [routerLink]="['greeting/one']" routerLinkActive>
                Greeting One
              </a>
            </li>

            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link" [routerLink]="['/greeting/two']"> Greeting Two </a>
            </li>

            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link" [routerLink]="['/greeting/three']" routerLinkActive>
                Greeting Three
              </a>
            </li>
          </ul>
        </div>
      }

      <!-- Avatar Link -->
      <!-- <div class="nav-link">
          <img id="avatar" src="assets/image-avatar.png" alt="" (click)="logout()" class="cursor-pointer">
        </div> -->
      <div>
        @if (isLoggedIn()) {
          <div>
            <a class="text-white hover:cursor-pointer ml-4" (click)="logout()">Logout</a>
          </div>
        } @else {
          <div>
            <a class="text-white hover:cursor-pointer ml-4" [routerLink]="['auth/register']"
              >Register</a
            >
            <a class="text-white hover:cursor-pointer ml-4" [routerLink]="['auth/login']">Login</a>
          </div>
        }
      </div>
    </div>
  </nav>
</header>
