[*.cs]
csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_members_in_anonymous_types = false
csharp_new_line_before_member_body = false
csharp_new_line_before_open_brace_types = none
csharp_new_line_before_open_brace_methods = none
csharp_new_line_before_open_brace_properties = none
csharp_new_line_before_open_brace_anonymous_methods = none
csharp_new_line_before_open_brace_control_blocks = none
csharp_new_line_before_open_brace_object_collection_array_initializers = none
csharp_preserve_single_line_statements = true
csharp_preserve_single_line_blocks = true